.count_label {
    font-size: 1.2rem;   
}

.count_select {
    min-width: 7rem;
    padding: 0.5rem 0rem;
    text-align: center;
    font-size: 1.1rem;
}

.word_count_input {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 11.5rem auto 1fr;
}