.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0, 0.8);
  background-color: rgb(255, 255, 255, 0.8);
}

.spinner {
  margin: 0px auto;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.loadingPara {
  font-size: 1.5rem;
  color: #fbf4ff;
  color: #000000;
}

.spinner > div {
  margin-right: 4px;
  background-color: #f0edf1;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .bar2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .bar3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .bar4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .bar5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}