.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem auto;
  padding: 2rem 2rem;
  border-radius: 1rem;
  background-color: #fff5f1;
}
.heading {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: center;
}
.instruction {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.gmail {
  color: #2600d1d0;
}

.otpInput {
  width: 20rem;
  min-height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.4rem;
  max-width: 80%;
  margin-bottom: 1rem;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verifyButton {
  min-width: 10rem;
  min-height: 3rem;
  border: none;
  border-radius: 2rem;
  margin: 1rem 0rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #524fd5;
}

.warning {
  color: rgb(228, 15, 15);
}
.noWarning {
  color: #fff5f1;
}
.resendLink {
  font-size: 0.8rem;
  color: #3366cc;
  text-decoration: underline;
}
