.navList {
  padding: 0;
  list-style: none;
  display: flex;
}

.navItem {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0.4rem 1rem 0rem 1rem;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}

.navItem:hover {
  border-bottom: 3px solid rgb(255, 174, 0);
}